* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background: linear-gradient(rgb(0, 97, 136),rgb(0, 38, 53));
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}

body::before {
    content:"";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(139, 139, 139),rgb(32, 32, 32));
    clip-path: circle(50.8% at 14% 18%);
    mix-blend-mode: multiply;
    z-index: -1;
}
body::after {
    content:"";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(139, 139, 139),rgb(50, 50, 50));
    clip-path: circle(32.8% at 90% 81%);
    mix-blend-mode: multiply;
    z-index: -1;
}
.content-title {
    position: absolute;
    transform: translateY(-220px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    transition: 0.5s;
    font-size: 24px;
}
@media screen and (1100px >= width) {
    .content-title {
        transform: translateY(-280px);
    }
}
.content-title a {
    color: transparent;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    transition: 0.5s;
    letter-spacing: 8px;
    text-shadow: 10px 10px 20px rgba(0,0,0,0.5);

}
a:nth-child(1):hover {
    color: rgb(255, 255, 255);

}
.content-title a:nth-child(2) {
    color: rgb(255, 255, 255);
    font-size: 48px;
}
a:nth-child(3):hover {
    color: rgb(255, 255, 255);
}


.container {
    margin-top: 100px;
    min-width: 600px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.item {
    position: relative;
    border-top: 1px solid rgba(255, 255, 255, 0.7);
    border-left: 1px solid rgba(255, 255, 255, 0.7);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.5);
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
    transition: 0.5s ease;
    cursor: pointer;
}
img:hover {
    filter: grayscale(0%);
}
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    align-items: center;
    justify-content: center;
    z-index: 10;
}
.modal img {
    max-width: 600px;
    max-height: 600px;
    filter: grayscale(0%);
}
.top {
    position: absolute;
    color: transparent;
    font-size: 36px;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    transition: 0.5s;
    letter-spacing: 5px;
    text-shadow: 10px 10px 20px rgba(0,0,0,0.5);
    transform: translateY(-300px);
}
@media screen and (1100px >= width) {
    .top {
        transform: translateY(-350px);
    }
}